.form-control {
  position: relative;
}

.asterisk {
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 1px;
  color: #f01255;
}

.admin-login .modal-content .modal-header .btns .btnTab {
  border-bottom: 1px solid #f01255;
  border-top: 1px solid #f01255;
  border-radius: 8px;
}
.admin-login .modal-content .modal-header .btns .activeBtn {
  color: #f01255;
  background-color: transparent;
}
.admin-login .modal-content .modal-body .content label {
  display: block;
  width: 80%;
}
.admin-login .modal-content .modal-body .content input {
  display: block;
  width: 97%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #f0ebeb;
  color: #161515;
}
.admin-login .modal-content .modal-body .content input:focus {
  border-top: 1px solid #f01255;
  border-bottom: 1px solid #f01255;
  outline: none;
}
.admin-login .modal-content .modal-body .content label[for=remember] {
  display: inline;
  margin-top: 10px;
  height: 14px;
  width: 14px;
}
.admin-login .modal-content .modal-body .content input[type=checkbox] {
  display: inline;
  margin-top: 16px;
  height: 14px;
  width: 14px;
}
.admin-login .modal-content .modal-body .content a {
  margin-left: 40%;
  color: #f01255;
}
.admin-login .modal-content .modal-body .content input[type=submit] {
  background-color: #f01255;
  color: white;
  margin-top: 16px;
}
.admin-login .modal-content .modal-body .content .itemTabs {
  padding: 20px;
  display: none;
}
.admin-login .modal-content .modal-body .content .activeItem {
  display: block;
}

.dashNav ul li .dropdown-menu {
  box-shadow: 0px 4px 2px 2px #f01255;
}
.dashNav ul li a {
  color: #161515;
}
.dashNav ul li .active {
  color: #f01255;
}
.dashNav ul .dropdown-toggle {
  color: white;
}
.dashNav ul .dropdown-toggle:focus {
  color: #161515;
}

.dashboard h1 {
  text-align: center;
  width: 45%;
  border-radius: 6px;
  position: relative;
  left: 30%;
  margin: 10px 0px;
  text-shadow: 0px 4px 4px #3e63b3;
  font-weight: bold;
  font-family: "Chilanka";
  color: #f01255;
  background-color: #f0ebeb;
}
.dashboard .home-stat h6 {
  margin-bottom: -8px;
}
.dashboard .home-stat .bg {
  background-color: #ff9dba;
}
.dashboard .home-stat .stat {
  border-radius: 10px;
  font-size: 18px;
  text-shadow: 0px 4px 4px #3e63b3;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}
.dashboard .home-stat .stat span {
  font-size: 55px;
}
.dashboard .home-stat .stat .danger {
  float: right;
}
.dashboard .home-stat .stat .danger i {
  position: absolute;
  font-size: 80px;
  top: 21px;
  left: 55px;
}
.dashboard .home-stat .stat .info i {
  position: relative;
  font-size: 76px;
  left: 14px;
  margin-bottom: 10px;
}
.dashboard .latest {
  margin-top: 30px;
  margin-bottom: 300px;
  position: relative;
}
.dashboard .latest .panel {
  background-color: #f0ebeb;
}
.dashboard .latest .panel .toggle-info {
  color: #646464;
  position: absolute;
  top: 23px;
  right: 47px;
  cursor: pointer;
}
.dashboard .latest .panel .toggle-info:hover {
  color: #161515;
}
.dashboard .latest p {
  display: inline;
}
.dashboard .latest .alert {
  margin: 10px auto;
  width: 96%;
}
.dashboard .latest .activate {
  margin-right: 8px;
}
.dashboard .latest .comments {
  padding: 10px 20px;
}
.dashboard .latest .comments .comments-box {
  background-color: white;
  border-radius: 5px;
  margin: 7px auto;
}
.dashboard .latest .comments .comments-box .comUser {
  float: left;
  width: 17%;
  text-align: center;
  margin-right: 2%;
}
.dashboard .latest .comments .comments-box .comment {
  float: left;
  width: calc(100% - 100px);
  background-color: #f0ebeb;
  padding: 10px;
  border-radius: 4px;
  position: relative;
}
.dashboard .latest .comments .comments-box .comment::before {
  content: "";
  display: block;
  position: absolute;
  left: -30px;
  top: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #f0ebeb transparent transparent;
  border-width: 15px;
}

.categories {
  margin-bottom: 100px;
}
.categories h1 {
  text-align: center;
  width: 35%;
  border-radius: 10px;
  position: relative;
  left: 30%;
  margin: 10px 0px;
  text-shadow: 0px 4px 4px #3e63b3;
  font-weight: bold;
  font-family: "Parisienne";
  color: #f01255;
  background-color: #f0ebeb;
}
.categories .addCategories {
  position: relative;
  left: 41%;
  margin-bottom: 10px;
}
.categories .panel {
  background-color: #f0ebeb;
  padding: 6px;
}
.categories .panel .panel-heading {
  padding: 5px 24px;
  background-color: #f0ebeb;
  border-radius: 10px 10px 0px 0px;
  position: relative;
}
.categories .panel .panel-heading .option {
  position: absolute;
  top: 10%;
  right: 4%;
}
.categories .panel .panel-heading .option span {
  cursor: pointer;
}
.categories .panel .panel-heading .option .active {
  color: #f01255;
  font-weight: bold;
}
.categories .panel .panel-body {
  background-color: white;
  padding: 0;
}
.categories .panel .panel-body .cat {
  padding: 6px 30px;
  width: 98%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.categories .panel .panel-body .cat h3 {
  margin: 0px 0px 10px 0px;
  cursor: pointer;
  color: #f01255;
  text-shadow: 0px 2px 2px #3e63b3;
}
.categories .panel .panel-body .cat .hidden-btn {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 15px;
  right: -200px;
}
.categories .panel .panel-body .cat .properties {
  color: white;
  padding: 4px 7px;
  border-radius: 6px;
}
.categories .panel .panel-body .cat span {
  display: inline-block;
}
.categories .panel .panel-body .cat .line {
  width: 80%;
  height: 4px;
  margin-bottom: 0px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #f0ebeb;
}
.categories .panel .panel-body .cat .childs {
  display: flex;
  margin: 10px 0;
}
.categories .panel .panel-body .cat .childs h4 {
  width: 20%;
  min-width: 20%;
  color: #f01255;
}
.categories .panel .panel-body .cat .childs ul {
  display: flex;
}
.categories .panel .panel-body .cat .childs ul li {
  display: block;
  margin: 5px 0 0 10px;
}
.categories .panel .panel-body .cat .childs .show-delete {
  display: none;
}
.categories .panel .panel-body .cat:hover {
  background-color: #cadbff;
}
.categories .panel .panel-body .cat:hover .hidden-btn {
  right: 10px;
}
.categories .panel .panel-body .cat:last-child .line {
  display: none;
}

.items {
  position: relative;
  margin-bottom: 100px;
}
.items h1 {
  text-align: center;
  width: 35%;
  border-radius: 10px;
  position: relative;
  left: 30%;
  margin: 10px 0px;
  text-shadow: 0px 4px 4px #8febb8;
  font-weight: bold;
  font-family: "Raleway Thin";
  color: #08d162;
  background-color: #f0ebeb;
}
.items .addItems {
  position: relative;
  left: 41%;
  margin-bottom: 10px;
  background-color: #8febb8;
}
.items .table {
  width: 98%;
  margin: auto;
  box-shadow: 0px 17px 60px -27px #08d162;
}
.items .table td {
  vertical-align: middle;
}

.members {
  margin-bottom: 100px;
}
.members h1 {
  text-align: center;
  width: 35%;
  border-radius: 10px;
  position: relative;
  left: 30%;
  margin: 10px 0px;
  text-shadow: 0px 4px 4px #161515;
  font-weight: bold;
  font-family: "Raleway Thin";
  color: #3e63b3;
  background-color: #f0ebeb;
}
.members .table {
  box-shadow: 0px 17px 60px -27px #3e63b3;
}
.members .table td {
  vertical-align: middle;
}
.members .table .image img {
  max-width: 100px;
  max-height: 100px;
}
.members .addMember {
  position: relative;
  left: 41%;
  margin-bottom: 10px;
}
.members .show-password {
  position: absolute;
  top: 2px;
  right: -32px;
}

.comments {
  margin-bottom: 100px;
}
.comments h1 {
  text-align: center;
  width: 40%;
  border-radius: 10px;
  position: relative;
  left: 30%;
  margin: 10px 0px;
  text-shadow: 0px 4px 4px #161515;
  font-weight: bold;
  font-family: "amiri";
  color: #fffb19;
  background-color: #f0ebeb;
}
.comments .table {
  width: 98%;
  margin: auto;
  box-shadow: 0px 17px 60px -27px #f5f396;
}
.comments .table td {
  vertical-align: middle;
}/*# sourceMappingURL=3admine.css.map */